# JSON examples and exercise
****
+ get familiar with packages for dealing with JSON
+ study examples with JSON strings and files 
+ work on exercise to be completed and submitted 
****
+ reference: http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader
+ data source: http://jsonstudio.com/resources/
****

In [ ]:
import pandas as pd

## imports for Python, Pandas

In [ ]:
import json
from pandas.io.json import json_normalize

## JSON example, with string

+ demonstrates creation of normalized dataframes (tables) from nested json string
+ source: http://pandas.pydata.org/pandas-docs/stable/io.html#normalization

In [ ]:
# define json string
data = [{'state': 'Florida', 
         'shortname': 'FL',
         'info': {'governor': 'Rick Scott'},
         'counties': [{'name': 'Dade', 'population': 12345},
                      {'name': 'Broward', 'population': 40000},
                      {'name': 'Palm Beach', 'population': 60000}]},
        {'state': 'Ohio',
         'shortname': 'OH',
         'info': {'governor': 'John Kasich'},
         'counties': [{'name': 'Summit', 'population': 1234},
                      {'name': 'Cuyahoga', 'population': 1337}]}]

In [ ]:
# use normalization to create tables from nested element
json_normalize(data, 'counties')
type(data)

In [ ]:
# further populate tables created from nested element
json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])

****
## JSON example, with file

+ demonstrates reading in a json file as a string and as a table
+ uses small sample file containing data about projects funded by the World Bank 
+ data source: http://jsonstudio.com/resources/

In [ ]:
# load json as string
import numpy as np
import pandas as pd
import json
from pandas.io.json import json_normalize
from collections import OrderedDict
from collections import Counter
json.load((open('data/world_bank_projects_less.json')))
# below i put it
xx=json.load((open('data/world_bank_projects.json')))

In [ ]:
# load as Pandas dataframe
import pandas as pd
sample_json_df = pd.read_json('data/world_bank_projects.json')
#sample_json_df
sample_json_df['mjtheme_namecode'][0]

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [ ]:
#sample_json_df.json_normalize(data, 'project_name')
from collections import Counter
#q1data=sample_json_df[['project_name','countryname']] 
#sample_json_df=[strip_non_ascii(x) for x in sample_json_df.columns]
#sample_json_df.columns
#p=dict(sample_json_df.groupby('countryname')['project_name'].count())
#pp=sorted(p.values(), reverse=True)
#for key, value in sorted(p.iteritems(),reverse=True, key=lambda (k,v): (v,k)):
#   print "%s: %s" % (key, value)
#cc=sample_json_df['mjtheme_namecode'].astype(str)
#cc.columns = [strip_non_ascii(x) for x in cc.columns]
#cc=list(cc)

#pd.DataFrame.from_dict(cc, orient='columns')

#q2data=sample_json_df['mjtheme_namecode'].replace('u', inplace=True)
#.replace({'-': None},inplace =True)
#q2data=list(q2data.values)
#q2data=str(q2data)
#q2data=q2data.encode('ascii', 'ignore')
#qq=[strip_non_ascii(x) for x in q2data]
#json_normalize(q2data)
#print q2data
#newString = (q2data.encode('ascii', 'ignore')).decode("utf-8")
#print newString
#cc=q2data.encode('utf-8').decode('ascii', 'ignore')

In [2]:

# Answer to question no 1

import json
from pandas.io.json import json_normalize
from collections import Counter
from collections import defaultdict
import pandas as pd
dataload=json.load((open('data/world_bank_projects.json')))
q1_df=pd.DataFrame(dataload)
#country names
country_count=q1_df.groupby('countryname')['project_name'].count()

country_count=country_count.sort_values(ascending=False)
answer=country_count[0:10]
print (answer)

countryname
People's Republic of China         19
Republic of Indonesia              19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
Nepal                              12
People's Republic of Bangladesh    12
Kingdom of Morocco                 12
Africa                             11
Republic of Mozambique             11
Name: project_name, dtype: int64

In [26]:

# Answer to question no 2
import json
from pandas.io.json import json_normalize
from collections import Counter
from collections import defaultdict
import pandas as pd
q2data=json.load((open('data/world_bank_projects.json')))
just_theme=json_normalize(q2data,'mjtheme_namecode')
#just_theme.head(40)


zipnow=list(zip(just_theme['code'], just_theme['name']))
#get all theme name against the code
hold_dict={}
for key,value in zipnow:
    if value!='':
        hold_dict[key]=value

code_name = {k : v for k, v in hold_dict.items()}

fill_missing_name=[]
for key, value in zipnow:
    if value=='':
        fill_missing_name.append((key,code_name[key]))
    else:
        fill_missing_name.append((key,value))
isolate_name=map(lambda x : x[1], fill_missing_name)
answer=Counter(isolate_name).most_common(10)

print("  Ten Major Project themes \n")
for key, value in enumerate(answer):
    print (key+1, value[0])

  Ten Major Project themes

1 Environment and natural resources management
2 Rural development
3 Human development
4 Public sector governance
5 Social protection and risk management
6 Financial and private sector development
7 Social dev/gender/inclusion
8 Trade and integration
9 Urban development
10 Economic management

In [2]:
#Answer to question no 3

import json
from pandas.io.json import json_normalize
from collections import Counter
from collections import defaultdict
import pandas as pd
import numpy as np
q2data=json.load((open('data/world_bank_projects.json')))
just_theme=json_normalize(q2data,'mjtheme_namecode')
just_theme=just_theme.sort_values('code')
#just_theme=just_theme['name'].fillna(method = "ffill")
#just_theme["name"].fillna( method ='ffill', inplace = True) 
just_theme=just_theme.replace("",np.nan)
just_theme.fillna( method ='ffill', inplace=True)
just_theme

     code                 name
458     1  Economic management
1235    1  Economic management
1230    1  Economic management
1229    1  Economic management
1218    1  Economic management
900     1  Economic management
648     1  Economic management
647     1  Economic management
1078    1  Economic management
1206    1  Economic management
1437    1  Economic management
357     1  Economic management
363     1  Economic management
1010    1  Economic management
784     1  Economic management
1024    1  Economic management
88      1  Economic management
1045    1  Economic management
497     1  Economic management
1056    1  Economic management
1057    1  Economic management
1114    1  Economic management
454     1  Economic management
453     1  Economic management
1257    1  Economic management
1260    1  Economic management
1212    1  Economic management
249     1  Economic management
841     1  Economic management
220     1  Economic management
...   ...                  ...
669     9    Urban development
1303    9    Urban development
1347    9    Urban development
460     9    Urban development
1342    9    Urban development
183     9    Urban development
200     9    Urban development
1318    9    Urban development
1290    9    Urban development
585     9    Urban development
737     9    Urban development
822     9    Urban development
369     9    Urban development
597     9    Urban development
53      9    Urban development
598     9    Urban development
356     9    Urban development
354     9    Urban development
962     9    Urban development
738     9    Urban development
512     9    Urban development
742     9    Urban development
1428    9    Urban development
333     9    Urban development
1426    9    Urban development
1425    9    Urban development
447     9    Urban development
739     9    Urban development
341     9    Urban development
1102    9    Urban development

[1499 rows x 2 columns]